{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=150px width=150px>
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a senior Biology student at UT Austin.</h3>
        <h3>I'm Interested in all things related to health, math, and natural sciences.</h3>
        <h3>Please have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>All of the posted content is based on academic work completed during the Fall semester of 2019.</h3>
        <h3>If you'd like to learn more about my interests, please check out this academic &amp; professional <a href="/MyResume.pdf">resume</a>.</h3>
        <h3>Please reach out if you'd like to further discuss any of the above information. I look forward to hearing from you! </h3>
        <h3>Contact me via <a href="/kaleb.combs@g.austincc.edu">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
