{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=150px width=150px>
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a senior Biology student at UT Austin interested in all things related to health, math, and natural science.</h3>
        <h3>Here are some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a> completed during the Fall semester of 2019.</h3>
        <h3>Also, check out this academic &amp; professional <a href="/MyResume.pdf">resume</a> to learn more about my work experience and personal interests.</h3>
        <h3>Please contact me via <a href="/kaleb.combs@g.austincc.edu">email </a> if you'd like to further discuss any of the above information. I look forward to hearing from you! </h3>
        <h3>Contact me via <a href="/kaleb.combs@g.austincc.edu">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
